{% extends 'Base/base.html' %}
{% load static %}
{% block content %}


<!------ Include the above in your HEAD tag ---------->

<!-- Accordion -->
<body background="{% static 'accounts/images/back.jpg' %}">
<div class="container-fluid bg-gray" id="accordion-style-1">
	<div class="container">
		<section></section>
			<div class="row">
				<div class="col-12">
					<h1 class="text-green mb-4 text-center">Parcels</h1><br><br>
				</div>
				<div class="col-10 mx-auto">

                    <div style="padding-left: 20%;">
                 {% if user.groups.all.0.name != 'Student' %}
                    <div class="container-fluid">
                      <div class="row">

                        <div class="col-md-8">
                          <form method="get" class="search-form">
                                    <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="id" id="search" placeholder="search by Id">
                                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                  </div>
                                </form>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'parcel-create' %}"><button type="button" class="btn btn-default">Create entry</button></a>
                        </div>
                      </div>
                    </div>
                {% endif %}
                    </div>
                    <br>
                    <br>
					<div class="accordion" id="accordionExample">

                        {% for parcel in object_list %}
						    <div class="card">
							    <div class="card-header" id="heading{{ parcel.pk }}">
								    <a class="mb-0">
							            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ parcel.pk }}" aria-expanded="true" aria-controls="collapse{{ parcel.pk }}">
                                    {{ parcel.student }}<a href="{{ parcel.get_absolute_url }}"><button type="button" class="btn btn-primary btn-sm pull-right">
                                            More</button></a>
							    </button>
						    </h5>
							    </div>

							    <div id="collapse{{ parcel.pk }}" class="collapse fade" aria-labelledby="heading{{ parcel.pk }}" data-parent="#accordionExample">
								    <div class="card-body">
									    <b>Courier Id: </b> {{ parcel.parcel_id }} <br>
									    <b>Courier Serice: </b> {{ parcel.delivery_service }} <br>
							    </div>
						        </div>
                        {% endfor %}

					</div>
				</div>
		</section>
	</div>
</div>
<!-- .// Accordion -->
<nav aria-label="Page navigation example">

{% if is_paginated %}
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
    {% else %}
      <li class="page-item">
            <a class="page-link" href="#">Previous</a>
        </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active page-item"><a href="#" class="page-link">{{ i }}</a></li>
      {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    {% endif %}
  </ul>
{% endif %}
  </ul>
</nav>
    </body>
{% endblock %}